# Autosave position values for motor record 
# TODO: Review this list

$(MOTOR).DHLM
$(MOTOR).DLLM
$(MOTOR).S
$(MOTOR).SMAX
$(MOTOR).SBAS
$(MOTOR).TWV
$(MOTOR).DESC
$(MOTOR).BDST
$(MOTOR).SBAK
$(MOTOR).DIR
$(MOTOR).OFF
$(MOTOR).PDBD
$(MOTOR).SDLT
$(MOTOR):Update.SCAN
$(MOTOR).RDBD
$(MOTOR).HVEL
$(MOTOR).HBAS
$(MOTOR).HMDR
